* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.main-box {
    width: 100%;
    background-color: rgb(199, 211, 221);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding-top: 15px;
}

.box {
    flex-basis: calc(48% - 10px);
    height: 90px;
    border: 2px solid rgb(80, 77, 77);
    background-color: #b4d3cf;
    border-radius: 25px;
}

.box:hover {
    border: 2px solid rgb(117, 126, 248);
}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    text-transform: capitalize;
    transition: 0.3s;
}

img {
    width: 50px;
    height: 50px;
}

.image h1:hover {
    text-decoration: underline;
}